#clickOutsideOverlay{
  background-color:transparent;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}

/* .modal {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }

  .child {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: white;
    position: absolute;
    transform: translate(-50%, -50%);
  } */



   /* to import use the following line in your HTML file's head
<link rel="stylesheet" href="global_styling.css" /> 
*/

@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
/* :root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

.modal-title{
    margin:5px;
    color:white;
    font-size: small;
}

.modal-body{
    margin:10px;
    max-width:300px;
    font-size: x-small;
    word-wrap:break-word;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: normal;
}
.audio-class-in{
  max-height: 13px;
  color:white;
  padding:3px;
}
.source-class-in{
  max-height: 7px;
}
.btn-modal {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}


.btn-primary-modal {
  /* background: var(--primary-color); */
  background-color: #4CAF50;
  color: #fff;
}

.btn-secondary-modal {
    background: var(--primary-color);
    color: #fff;
  }



/* Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}
*/